---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: All
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: true
MaxEmptyLinesToKeep: 2

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: false

