# SPDX-FileCopyrightText: 2026 Tzu-Ting Lin
#
# SPDX-License-Identifier: CC0-1.0

# C++ Build Artifacts
build/
out/
vcpkg_installed/
*.so
*.dll
*.dylib
*.exe
*.o
*.a
*.gch
.cache/

# Flutter Build Artifacts
ui/build/
ui/.dart_tool/
ui/.flutter-plugins
ui/.flutter-plugins-dependencies

# IDE Settings 
.vscode/
.idea/
*.DS_Store
*.mwb.bak
*.db
*.db-shm
*.db-wal
core/compile_commands.json
compile_commands.json
# .editorconfig
# .clang-format
Lyra.code-workspace

# Test
__pycache__/
core/tests/manual_api_request_test.py
.directory
