# C++ Build Artifacts
build/
out/
vcpkg_installed/
*.so
*.dll
*.dylib
*.exe
*.o
*.a
.cache/

# Flutter Build Artifacts
ui/build/
ui/.dart_tool/
ui/.flutter-plugins
ui/.flutter-plugins-dependencies

# IDE Settings 
.vscode/
.idea/
*.DS_Store
docs/db.mwb.bak
docs/Lyra_Design_Document_AI.md
lyra.db
core/compile_commands.json
